---
interface Props {
  title?: string;
  list?: {
    title: string;
    description: string;
  }[];
}

const { title, list } = Astro.props;
---

<ul
  class="bg-[#FFF7FC] w-full flex flex-col px-7 py-7 rounded-lg gap-3 font-outfit"
>
  <h1 class="text-lg font-bold text-dark-raspberry">{title}</h1>
  {
    list &&
      list.map(({ title, description }) => (
        <li class="text-sm text-dark-charcoal flex gap-7 ml-1">
          <span class="text-dark-raspberry font-bold">•</span>
          <div class="text-wenge-brown">
            <span class="font-bold">{title}</span>
            <span>{description}</span>
          </div>
        </li>
      ))
  }
</ul>
