---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="md:bg-eggshell relative">
		<main class="container md:py-32 md:max-w-3xl">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Young Serif";
		src: url("/fonts/young-serif/YoungSerif-Regular.ttf");
	}

	@font-face {
		font-family: "Outfit";
		src: url("/fonts/outfit/Outfit-VariableFont_wght.ttf");
	}
</style>
